#crt
  input#drums-switcher.switcher(type='radio' name='switcher' aria-label='Toggle sequencer')
  input#dance-switcher.switcher(type='radio' name='switcher' aria-label='Toggle sequencer')
  input#washer-switcher.switcher(type='radio' name='switcher' aria-label='Toggle sequencer')
  input#b-switcher.switcher(type='radio' name='switcher' aria-label='Toggle sequencer')

  // DRUMS
  include drums

  // DANCE
  include dance

  // DANCE
  include washer
  