
<div class="crtEffect dance">
  <iframe width="800" height="600" class="screen"></iframe>
  <div class="overlay"></div>
  <div id="dance">
    <div class="mask"></div>
    <ul class="dance-animation">
      <li class="dance-frame dance-animation--dancer1"></li>
      <li class="dance-frame dance-animation--dancer2"></li>
      <li class="dance-frame dance-animation--dancer3"></li>
      <li class="dance-frame dance-animation--dancer4"></li>
      <li class="dance-frame dance-animation--dancer5"></li>
      <li class="dance-frame dance-animation--dancer6"></li>
      <li class="dance-frame dance-animation--dancer7"></li>
      <li class="dance-frame dance-animation--dancer8"></li>
      <li class="dance-frame dance-animation--dancer9"></li>
      <li class="dance-frame dance-animation--dancer10"></li>
      <li class="dance-frame dance-animation--dancer11"></li>
    </ul>
  </div>
</div>