.crtEffect.dance
  iframe.screen(width='800' height='600')
  .overlay
  #dance
    .mask
    ul.dance-animation
      li.dance-frame.dance-animation--dancer1
      li.dance-frame.dance-animation--dancer2
      li.dance-frame.dance-animation--dancer3
      li.dance-frame.dance-animation--dancer4
      li.dance-frame.dance-animation--dancer5
      li.dance-frame.dance-animation--dancer6
      li.dance-frame.dance-animation--dancer7
      li.dance-frame.dance-animation--dancer8
      li.dance-frame.dance-animation--dancer9
      li.dance-frame.dance-animation--dancer10
      li.dance-frame.dance-animation--dancer11