<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GCDJAM</title>
  <meta name="description" content="Some inspiration for playful hover interactions on words">
  <meta name="keywords" content="typography, effects, interaction, hover, animation, javascript, css, web design">
  <meta name="author" content="Codrops">
  <link rel="shortcut icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700|Days+One" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="assets/name/style.css">
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body>
</body>