<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GCDJAM </title>
  <meta name="description" content="Let's jam together!">
  <meta name="author" content="Douglas Nonato">
  <link rel="shortcut icon" href="../assets/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700|Days+One" rel="stylesheet">
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-QE9K81CSF5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-QE9K81CSF5');
  </script>
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/track.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/paint.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/mixer.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/visualizer.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/crtEffect.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/dance.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/washer.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/download.css">
  <link rel="stylesheet" type="text/css" href="../assets/drums/css/style.css">
  <link rel="stylesheet" type="text/css" href="../assets/drums/fonts/font-awesome-4.3.0/css/font-awesome.min.css">
</head>
<body>
</body>