doctype html
head
  meta(charset='UTF-8')
  title GCDJAM
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  link(rel='stylesheet' type='text/css' href='../assets/css/style.css')
  link(rel='stylesheet' type='text/css' href='../assets/css/track.css')
  link(rel='stylesheet' type='text/css' href='../assets/css/paint.css')
  link(rel='stylesheet' type='text/css' href='../assets/css/mixer.css')
  link(rel='stylesheet' type='text/css' href='../assets/css/visualizer.css')
    
  link(rel='stylesheet' type='text/css' href='../assets/css/crtEffect.css')
  link(rel='stylesheet' type='text/css' href='../assets/css/dance.css')
  link(rel='stylesheet' type='text/css' href='../assets/css/washer.css')
  link(rel='stylesheet' type='text/css' href='../assets/drums/css/style.css')
  link(rel='stylesheet' type='text/css' href='../assets/drums/fonts/font-awesome-4.3.0/css/font-awesome.min.css')

body
  block content