.effectlayer
.header-details
  .logo GCDJAM
  .dots
    .circle
    .circle
    .circle
    .circle
    .circle
  a.back(href='../playlist.html') GO TO PLAYLIST
.darkbg
.header
  .speaker-block
    .speaker
  #display
    img.op-screen-background(width='268' alt='op1-display-background' src='../assets/images/display.svg')
    .tape-rolls
      img.roll-1(width='60' alt='roll-1' src='../assets/images/roll-1.svg')
      img.roll-1(width='60' alt='roll-2' src='../assets/images/roll-2.svg')
    img.gloss(width='268' alt='Display gloss image' src='../assets/images/gloss.svg')
  #led
    .black-key-block-short
      .black-key
  .speaker-block
    .speaker