
<div class="effectlayer"></div>
<div class="header-details">
  <div class="logo">GCDJAM</div>
  <div class="dots">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div><a href="../playlist" class="back">GO TO PLAYLIST</a>
</div>
<div class="darkbg"></div>
<div class="header">
  <div class="speaker-block">
    <div class="speaker"></div>
  </div>
  <div id="display"><img width="268" alt="op1-display-background" src="../assets/images/display.svg" class="op-screen-background"/>
    <div class="tape-rolls"><img width="60" alt="roll-1" src="../assets/images/roll-1.svg" class="roll-1"/><img width="60" alt="roll-2" src="../assets/images/roll-2.svg" class="roll-1"/></div><img width="268" alt="Display gloss image" src="../assets/images/gloss.svg" class="gloss"/>
  </div>
  <div id="led">
    <div class="black-key-block-short">
      <div class="black-key"></div>
    </div>
  </div>
  <div class="speaker-block">
    <div class="speaker"></div>
  </div>
</div>