meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
title GCDJAM 
meta(name='description' content="Let's jam together!")
meta(name='author' content='Douglas Nonato')
link(rel='shortcut icon' href='../assets/images/favicon.ico')
link(href='https://fonts.googleapis.com/css?family=Nunito:400,700|Days+One' rel='stylesheet')

script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-QE9K81CSF5')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-QE9K81CSF5');





