.crtEffect.washer
  iframe.screen(width='800' height='600')
  .overlay
  #washer
    .washer-container
      .box
        .side-front
          span.insta Dancer Mashine
          .circle
          .rect
        .side-top
        .side-right
          div