
<div class="crtEffect washer">
  <iframe width="800" height="600" class="screen"></iframe>
  <div class="overlay"></div>
  <div id="washer">
    <div class="washer-container">
      <div class="box">
        <div class="side-front"><span class="insta">Dancer Mashine</span>
          <div class="circle"></div>
          <div class="rect"></div>
        </div>
        <div class="side-top"></div>
        <div class="side-right">
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>