.crtEffect.download
  iframe.screen(width='800' height='600')
  .overlay
  #download
    .title Download original tracks
    li
      a(href="tracks/guitar-base-douglas.mp3") Guitar Base - Douglas Nonato
    li
      a(href="tracks/guitar-solo-douglas.mp3") Guitar Solo - Douglas Nonato
    li
      a(href="tracks/guitar-solo-caua-cobuci.mp3") Guitar Solo - Cauã Cobuci