include ../components/header-track

  block content
    // CONTENT
    #mixerbg
      #jcmix(data-title='Track 1 - 85 bpm' data-record='true')
        .box__shadow

        include ../components/mixer-head

        // TRACKS
        .track(data-url='tracks/electric-guitar-douglas.mp3' data-label='Electric Guitar <br> Douglas Nonato' data-start-muted='false' data-initial-volume='.7' data-initial-pan='0' data-picture='douglas-nonato')
        .track(data-url='tracks/guitar-solo-douglas.mp3' data-label='Guitar Solo <br> Douglas Nonato' data-start-muted='false' data-initial-volume='.6' data-initial-pan='0' data-picture='douglas-nonato')
        .track(data-url='../assets/empty.mp3' data-label='you' data-start-muted='false' data-initial-volume='.5' data-initial-pan='0' data-picture='you')
        .track(data-url='../assets/empty.mp3' data-label='you' data-start-muted='false' data-initial-volume='.5' data-initial-pan='0' data-picture='you-2')
        .track(data-url='../assets/empty.mp3' data-label='you' data-start-muted='false' data-initial-volume='.5' data-initial-pan='0' data-picture='you-3')
        .track(data-url='../assets/empty.mp3' data-label='you' data-start-muted='false' data-initial-volume='.5' data-initial-pan='0' data-picture='you-4')
        .track(data-url='tracks/metronome-85bpm.mp3' data-label='Metronome' data-start-muted='true' data-initial-volume='.5' data-initial-pan='0' data-picture='')
        a.submit(href='https://forms.gle/XovVsLGxnhKU6mRE7' target='_blank')
          | Submit your
          br
          | track here

        // CRT DISPLAY
        include ../components/crt

    include ../components/responsive_modal

    // FOOTER
    include ../components/footer-track
