.crtEffect.download
  iframe.screen(width='800' height='600')
  .overlay
  #download
    .title Download original tracks
    li
      a(href="tracks/Vocals.flac") Vocals - 2-D
    li
      a(href="tracks/Bass.flac") Bass - Murdoc
    li
      a(href="tracks/Guitar.flac") Guitar - Noodle
    li
      a(href="tracks/Backing.flac") Synths - Noodle
    li
      a(href="tracks/Kick.flac") Kick - Russel
    li
      a(href="tracks/Snare.flac") Snare - Russel
    li
      a(href="tracks/Cymbals.flac") Cymbal - Russel